body {
  font-family: 'PT Sans Narrow', sans-serif;
}

header {
  margin-top: 75px;
}
.navbar-brand {
    font-size: 20px;
    color: #000;
    font-weight: bold;
  }
  
#testimonial {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align:center;
    margin-top: 40px;
  }

  footer {
    background: url(../images/imagen5.png);
    background-repeat: no-repeat;
  }
  
