body {
  font-family: 'PT Sans Narrow', sans-serif;
}

header {
  margin-top: 75px;
}

.navbar-brand {
    font-size: 20px;
    color:#f1eaf7;;
    font-weight: bold;
  }
  
#testimonial {
    background: #f1eaf7;
    padding: 50px 0 30px 0;
    text-align:center;
    margin-top: 40px;
  }

  footer {
    background: url(../images/imagen5.png) no-repeat;
    text-align: right;  
  }
  
